body { margin: 0 } 

.sunburst-viz text .text-contour {
  display: none;
}

.sunburst-viz text {
  font-family: sans-serif;
  font-size: 14px;
  display: block !important; 
}

svg {
  display: block;
  margin: auto;
}

body {
  background-image: linear-gradient(#bae0de, #e6faf9);
}

footer {
  background-color: #3caba4;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 14;
  font-style: oblique;
  font-weight: bold;
}

a {
	color:white
}